<body>
    <div class="container-fluid home-container">
        <div class="container m-0">
            <div class="row align-items-center">
                <!-- Left Content Box -->
                <div class="col-md-6 text-box">
                    <p class="front-text">Hi, my name is</p>
                    <h1 class="front-name">ALVIN JAY FABI</h1>
                    <p class="front-text">Electronics Engineer / Solution Developer</p>
                    <button class="btn btn-style">GET IN TOUCH</button>
                </div>
    
                <!-- Right Image Box -->
                <div class="image-box">
                    <img src="/assets/images/me-img.png" alt="Profile Picture">
                  </div>
            </div>
        </div>
    </div>
</body>
